#navigation { 
    display: flex;
    flex-direction: row;

}

#navigation .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-right: 5px;
    width: fit-content ;
    padding-left: 8px;
    padding-right:8px;
    height: 40px;
}

.StartChatting{
    display: none;
}
.openRooms{
    display: none;
}

.openRooms ul button{
    margin-right: 8px;
}

.active { 
    display: flex;
}

#SettingBox { 
    display: flex;
    flex-direction: row;
}

.mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#ChatBox {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Left {
    width: fit-content;
    height: fit-content;
    background: #EFEFEF;
    border-radius: 20px 20px 20px 0px;
    text-align: left;
    padding: 10px;
    margin-bottom: 5px;
}

.Right { 
    width: fit-content;
    height: fit-content;
    background: #4F7EC0;
    border-radius: 20px 20px 0px 20px;
    text-align: right;
    padding: 10px;
    margin-bottom: 5px;
}

